<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>WebEng1: NodeJS</title>

	<link rel="stylesheet" href="dist/reset.css">
	<link rel="stylesheet" href="dist/reveal.css">
	<link rel="stylesheet" href="dist/theme/white.css">

	<!-- Theme used for syntax highlighted code -->
	<link rel="stylesheet" href="plugin/highlight/monokai.css">

	<style>
		header {
			position: absolute;
			top: 12px;
			right: 12px;
		}

		iframe.code-example {
			border: 2px solid grey;
		}

		iframe.full-width {
			width: 100%;
		}

		iframe.mindmap {
			width: 100%;
			height: 50vh;
		}

		.two-columns {
			display: grid;
			grid: auto-flow / 2fr 1fr;
			grid-auto-flow: column
		}

		.two-columns-half-half {
			display: grid;
			grid: auto-flow / 1fr 1fr;
			grid-auto-flow: column
		}

		.text-column {
			margin: 5px;
		}

		.li-space-above {
			margin-top: 55px;
		}

		.js-output {
			border: 2px solid grey;
			text-align: left;
		}

		.smaller-font {
			font-size: smaller;
		}

		.min-height-200 {
			min-height: 400px;
		}
	</style>
</head>

<!--
	PDF-Export (/?view=print, https://revealjs.com/pdf-export/)
	WebEng1_NodeJS-Day1_Http-Express-Npm: 1,3-12,16-23
	WebEng1_NodeJS-Day1-Praxis_Aufgabe0-4: 13-15,24-29
	WebEng1_NodeJS-Day2_HTML-Generieren-Templates: 1,31-49
	WebEng1_NodeJS-Day2-Praxis_Aufgabe5-7: 50-55
-->

<body>
	<div class="reveal">
		<div class="slides">
			<!-- Start NodeJS-Day1-->
			<section>
				<h1>NodeJS</h1>

				<p>
					JavaScript Laufzeitumgebung basierend auf der<br>V8 JavaScript Engine
				</p>
				<img style="background-color: grey; padding: 8px;" src="./images/nodejs.svg" alt="NodeJS Logo"
					width="589" height="361">
			</section>
			<section>
				<h3>NodeJS - Mindmap</h3>
				<iframe class="mindmap" data-src="./mindmap.html"></iframe>
			</section>
			<section>
				<section>
					<h3>NodeJS - Server</h3>
					<img src="./images/nodejs-server.svg" alt="NodeJS Server">
				</section>
				<section>
					<h3>NodeJS - Beispiel</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/01-nodejs-http/http-response.js" data-line-numbers="|1|2|2-13|14|"></code>
					</pre>
					<p>Im Browser öffnen: "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
					<p>alternativ: "http://localhost:8000/<a href="https://youtu.be/KaqC5FnvAEc?t=14">trololol</a>"</p>
				</section>
				<section>
					<h3>NodeJS - Dokumentation</h3>
					<ul>
						<li><a href="https://nodejs.org/api/http.html#httpcreateserveroptions-requestlistener">http.createServer([options][,
								requestListener])</a></li>
						<li>req: <a
								href="https://nodejs.org/api/http.html#class-httpincomingmessage">http.IncomingMessage</a>
						</li>
						<li>res: <a
								href="https://nodejs.org/api/http.html#class-httpserverresponse">http.ServerResponse</a>
						</li>
						<li>server: <a href="https://nodejs.org/api/http.html#class-httpserver">http.Server</a></li>
					</ul>
				</section>
				<section>
					<h3>NodeJS</h3>
					<p>Vorteile:</p>
					<ul>
						<li class="fragment">Asynchrone Performanz</li>
						<li class="fragment">Mächtige Programmiersprache und Programmierumgebung: JavaScript +
							Npm-Module</li>
						<li class="fragment">Plattformunabhängig</li>
					</ul>
					<p class="fragment">Nachteile:</p>
					<ul>
						<li class="fragment">Code kann Server zum Absturz bringen</li>
						<li class="fragment">Bindung an Programmiersprache JavaScript (<a
								href="https://giphy.com/gifs/gene-wilder-8OlT82jKm6Ugg">yikes</a>)</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h3>NodeJS http - ganz kurz</h3>
					<p>API für Client als auch Server Funktionalität: <a
							href="https://nodejs.org/api/http.html">Docs</a></p>
					<p>Server 'request' Event bei jeder Client Anfrage</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/01-nodejs-http/http-request-event.js" data-line-numbers="|1-3|4|4-11|13|"></code>
					</pre>
					<p>'res.end' MUSS immer aufgerufen werden</p>
				</section>
				<section>
					<h3>NodeJS Server starten</h3>
					<h4>Konsole</h4>
					<pre class="language-bash">
						<code class="hljs">$ cd WebEng/
$ ls
server.js
$ node server.js</code>
					</pre>
					<h4>IDE</h4>
					<p><a href="https://code.visualstudio.com/docs/nodejs/nodejs-tutorial">VSCode Node.js Tutorial</a> <a href="https://code.visualstudio.com/docs/nodejs/nodejs-debugging">(+ Debugging)</a></p>
					<h4>Reload</h4>
					<p>Nach jeder Dateiänderung:<br>Server stoppen und neustarten!<br>F5 im Browser reicht nicht!</p>
				</section>
				<section>
					<h3>NodeJS http - ganz kurz</h3>
					<p>Request-Listener <span class="fragment highlight-current-red" data-fragment-index="0">'(req, res)
							=> {}'</span> einzigste Server-API</p>
					<p class="fragment" data-fragment-index="1">Zuordnung zu einer URL muss programmiert werden</p>
					<p class="fragment" data-fragment-index="2">Zuordnung zu einer HTTP-Methode muss programmiert werden
					</p>
					<p class="fragment" data-fragment-index="3">Low-Level Schnittstelle</p>
				</section>
				<section>
					<h3>Einschub: HTTP-Refresh</h3>

					<h4>HTTP/1.1 - Anfrage/<span class="fragment highlight-current-red">Req</span>uest</h4>
					<pre><code class="language-http hljs" data-line-numbers="1-2">GET /index.html HTTP/1.1
Host: example.com
</code></pre>
					<h4>HTTP/1.1 - Antwort/<span class="fragment highlight-current-red">Res</span>ponse</h4>
					<pre><code class="language-http hljs" data-line-numbers="1-6">HTTP/1.1 200 OK
Server: Apache/1.3.29 (Unix) PHP/4.3.4
Content-Length: 123456
Content-Type: text/html; charset=utf-8

&lt;!DOCTYPE ...</code></pre>
				</section>
				<section>
					<h3>NodeJS http.IncomingMessage</h3>
					<p>Dokumentation: <a
							href="https://nodejs.org/api/http.html#class-httpincomingmessage">http.IncomingMessage</a>
						(req)
					</p>
					<ul>
						<li class="fragment" data-fragment-index="1">httpVersion (String)</li>
						<li class="fragment" data-fragment-index="1">method (String)</li>
						<li class="fragment" data-fragment-index="1">url (String)</li>
						<li class="fragment" data-fragment-index="2">headers (Object)
							<ul>
								<li>'user-agent'</li>
								<li>'host'</li>
							</ul>
						</li>
						<li class="fragment" data-fragment-index="3">Event 'data' (chunk, String)</li>
						<li class="fragment" data-fragment-index="3">Event 'end'</li>
					</ul>
				</section>
				<section>
					<h3>NodeJS http.OutgoingMessage</h3>
					<p>Dokumentation: <a
							href="https://nodejs.org/api/http.html#class-httpoutgoingmessage">http.OutgoingMessage</a>
						(res)
					</p>
					<ul>
						<li class="fragment" data-fragment-index="1">setHeader(name, value)</li>
						<li class="fragment" data-fragment-index="1">getHeader(name)</li>
						<li class="fragment" data-fragment-index="1">removeHeader(name)</li>
						<li class="fragment" data-fragment-index="2">writeHead(statusCode[, statusMessage][, headers])
							<ul>
								<li>statusCode (number)</li>
								<li>statusMessage (String)</li>
								<li>headers (Object|Array)</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>NodeJS http.OutgoingMessage</h3>
					<p>Dokumentation: <a
							href="https://nodejs.org/api/http.html#class-httpoutgoingmessage">http.OutgoingMessage</a>
						(res)
					</p>
					<ul>
						<li>write(chunk[, encoding][, callback])
							<ul>
								<li>chunk (String|Buffer)</li>
								<li>encoding (String, "utf8")</li>
								<li>callback (Function, chunk flushed)</li>
							</ul>
						</li>
						<li class="fragment">end(chunk[, encoding][, callback])
							<ul>
								<li>chunk (String|Buffer)</li>
								<li>encoding (String, "utf8")</li>
								<li>callback (Function, "finish" event)</li>
							</ul>
						</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - Aufgabe 0 - Installieren</h3>
					<p>Node.js v20 installieren: <a href="https://nodejs.org/en/download/current/">Downloads</a></p>
					<h4>Zusatz</h4>
					<p>IDE installieren, z.B. <a href="https://code.visualstudio.com/">VSCode</a> oder <a
							href="https://www.jetbrains.com/webstorm/">WebStorm</a></p>
				</section>
				<section>
					<h3>Praxis - Aufgabe 1 - Echo</h3>
					<p>Implementiere einen Echo-Server.<br>Bei einem GET-Request soll die URL (als plain text)
						zurückgegeben werden.<br>Bei einem POST-Request soll der Request-Inhalt (Body) zurückgegeben werden.</p>
					<h4>Zusatz</h4>
					<p>Start des Servers (bereit Anfragen entgegenzunehmen) wird auf der Konsole ausgeben</p>
					<p>Herunterfahren des Servers wird auf der Konsole ausgeben (Tip: Strg+C -> 'SIGINT', process.on)
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Lösung - Aufgabe 1 - Echo</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/01-echo/loesung-http-echo-server.js">TINF23B2/nodejs/aufgaben/<br>01-echo/loesung-http-echo-server.js</a>
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Npm-Module: Express</h3>
					<p>High-Level HTTP-Server API</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-hello-world.js" data-line-numbers="|1-3|5|5-7|9-11|"></code>
					</pre>
					<p class="fragment">'res.send' MUSS weiterhin immer aufgerufen werden</p>
				</section>
				<section>
					<h3>Express</h3>
					<p>Open-Source Npm-Module '<a href="https://www.npmjs.com/package/express">express</a>' (<a
							href="https://expressjs.com/">expressjs.com</a>)</p>
					<p>Defakto-Standard im Node.JS Universum<br>für Http-Server</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-methods.js" data-line-numbers="|1|3-5|7-9|"></code>
					</pre>
				</section>
				<section>
					<h3>Express - HTML Antwort</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-html-response.js" data-line-numbers="|3|4|5-14|16-19|"></code>
					</pre>
					<p class="fragment">Sinnvoller default: mit type('html') wird auch charset=utf-8 verwendet!</p>
				</section>
				<section>
					<h3>Express - JSON Antwort</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-json-response.js" data-line-numbers="|4|5|6-8|11-14|"></code>
					</pre>
					<p class="fragment">Egal welcher "type()" der Inhalt einer Http-Response ist immer ein string!</p>
				</section>
				<section>
					<h3>Express - Anfrage-Inhalt</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-anfrage-inhalt.js" data-line-numbers="|12-14|8-9|5-7|16-18|"></code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h3>Node Package Manager (npm)</h3>
					<p>Zentrales Werkzeug um Module zu installieren</p>
					<p class="fragment">Pre-bundled mit dem Node-Installer</p>
					<p class="fragment">'package.json' ist das Zentrum eines npm-Projekts</p>
					<p class="fragment">'npm init -y' um ein Projekt zu initialisieren</p>
					<p class="fragment">'npm install express' um das Modul 'express' zum Projekt hinzuzufügen</p>
					<p class="fragment"><a href="https://www.npmjs.com/">npmjs.com</a>: Dokumentation und<br>Repo aller
						NPM-Module</p>
				</section>
				<section>
					<h3>Node Package Manager (npm)</h3>
					<p>Typischer Workflow: 'git clone' + 'npm ci'<br>Lädt alle Abhängigkeiten herunter</p>
					<img class="fragment" src="./images/size-of-node_modules.png" alt="Meme Sizeof node_modules"
						height="400">
				</section>
				<section>
					<h3>package-(lock).json</h3>
					<p>package.json</p>
					<ul>
						<li>Metadaten (Projektname, etc.)</li>
						<li>Abhängigkeiten</li>
						<li>Dev-Abhängigkeiten</li>
					</ul>
					<p class="fragment">package-lock.json<br>Ausmaterialisierter Abhängigkeitsbaum (Semver:
						"^")<br>Wichtig um reproduzierbar Abhängigkeiten<br>zu installieren (npm ci)</p>
					<p class="fragment">Semver: Major.Minor.Patch</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - Aufgabe 2 - Hello</h3>
					<p>Erstellt einen Node.JS Server der per GET- und POST-Methode aufgerufen werden
						kann (z.B. via zwei Buttons in zwei Formularen)</p>
					<p>Programmiert den Node.JS Server, sodass:</p>
					<ul>
						<li>ein HTML-Dokument "Hello World from GET" mit Url bei einer get-Anfrage zurückgeliefert wird
						</li>
						<li>ein HTML-Dokument "Hello World from POST" mit Body bei einer post-Anfrage zurückgeliefert
							wird</li>
					</ul>
					<h4>Zusatz</h4>
					<p>Gebt im HTML-Dokument die aktuelle Uhrzeit aus</p>
				</section>
				<section>
					<h3>Praxis - Aufgabe 3 - Name</h3>
					<p>Erstellt einen Node.JS-Server der eine Seite mit einer Überschrift und einem Formular mit einem
						Eingabefeld generiert.</p>
					<ul>
						<li>Im Eingabefeld wird nach dem Namen gefragt:<br>"Wie ist dein Name?"</li>
						<li>Falls noch kein Name angegeben wurde lautet die Überschrift "Hallo Du Da".</li>
						<li>Falls ein Name angegeben wurde lautet die Überschrift "Hallo &lt;name&gt;".</li>
					</ul>
				</section>
				<section>
					<h3>Praxis - Aufgabe 4 - Rechner</h3>
					<p>Programmiert einen kleinen Rechner</p>
					<ul>
						<li>Formular für zwei Operanden als auch die Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
					</ul>
					<h4>Zusatz</h4>
					<p>Bei Eingabe nicht-nummerischer Werte: Passende Fehlermeldung an passender Stelle</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Lösung - Aufgabe 2 - Hello</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/02-hello/">TINF23B2/nodejs/aufgaben/<br>02-hello/</a>
					</p>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/02-hello/loesung-http-hello-server.js">TINF23B2/nodejs/aufgaben/<br>02-hello/loesung-http-hello-server.js</a>
					</p>
				</section>
				<section>
					<h3>Lösung - Aufgabe 3 - Name</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/03-name/">TINF23B2/nodejs/aufgaben/<br>03-name/</a>
					</p>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/03-name/loesung-http-name-server.js">TINF23B2/nodejs/aufgaben/<br>03-name/loesung-http-name-server.js</a>
					</p>
				</section>
				<section>
					<h3>Lösung - Aufgabe 4 - Rechner</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/04-rechner/">TINF23B2/nodejs/aufgaben/<br>04-rechner/</a>
					</p>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/04-rechner/loesung-http-rechner-server.js">TINF23B2/nodejs/aufgaben/<br>04-rechner/loesung-http-rechner-server.js</a>
					</p>
				</section>
			</section>
			<!-- Ende NodeJS-Day1-->
			<!-- Start NodeJS-Day2-->
			<section>
				<section>
					<h3>HTML generieren</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-html-response.js" data-line-numbers=""></code>
					</pre>
					<p>Das erzeugen von HTML-Code ist umständlich!</p>
				</section>
				<section>
					<h3>SSI - Rückblick</h3>
					<pre class="language-html">
						<code class="hljs" data-line-numbers="">&lt;body&gt;
	<h1>Dynamisches HTML mit Server Side Includes</h1>
	<dl>
		<dt>Datum/Uhrzeit auf dem Server-Rechner:</dt>
		<dd>
			<!--#config timefmt="%d.%m.%Y, %H.%M" -->
			<!--#echo var="DATE_LOCAL" --> Uhr
		</dd>
		<dt>Name dieser HTML-Datei:</dt>
		<dd>
			<!--#echo var="DOCUMENT_NAME" -->
		</dd>
		<dt>Installierte Server-Software:</dt>
		<dd>
			<!--#echo var="SERVER_SOFTWARE" -->
		</dd>
		<dt>Ihr Web-Browser:</dt>
		<dd>
			<!--#echo var="HTTP_USER_AGENT" -->
		</dd>
	</dl>
&lt;/body&gt;</code>
					</pre>
					<p>Quelle: <a href="https://wiki.selfhtml.org/wiki/Webserver/SSI">SelfHTML</a></p>
				</section>
				<section>
					<h3>Vergleich: SSI vs. NodeJS</h3>
					<div class="two-columns-half-half smaller-font">
						<div>
							<h4>SSI</h4>
							<ul>
								<li>&lt;h1&gt;abc&lt;/h1&gt;
									<ul>
										<li>HTML ist Grundsprache</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="1">&lt;!-- #set var="x" value="1" --&gt;
									<ul>
										<li>Für SSI-Befehl aus HTML "heraus springen"</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="2">Pfad entspricht Dateiname</li>
							</ul>
						</div>
						<div>
							<h4>NodeJS</h4>
							<ul>
								<li>response += "&lt;h1&gt;abc&lt;/h1&gt;"
									<ul>
										<li>HTML explizit ausgeben</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="1">let x = 1;
									<ul>
										<li>JavaScript ist Grundsprache der Datei</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="2">Explizite Zuordnung zu einer URL</li>
							</ul>
						</div>
					</div>
				</section>
			</section>
			<section>
				<section>
					<h3>Grundidee: HTML-Seiten mit Einbettungen</h3>
					<ul>
						<li>Vorteile
							<ul>
								<li>HTML-Struktur leichter lesbar und änderbar</li>
								<li>Leichter zu managen (IDE Syntaxhighlighting, etc.)</li>
							</ul>
						</li>
						<li class="fragment">Bedingungen
							<ul>
								<li>Code hat nur kleinen Anteil</li>
								<li>Komplexen Code auslagern!</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>PHP - Hypertext Preprocessor</h3>
					<ul>
						<li class="fragment" data-fragment-index="1">Ursprünglich: Personal Homepage Tool</li>
						<li class="fragment" data-fragment-index="2">Frei Verfügbar</li>
						<li class="fragment" data-fragment-index="3">Große Auswahl an Bibliotheken</li>
						<li class="fragment" data-fragment-index="4">Für viele Betriebssysteme und Webserver verfügbar
						</li>
						<li class="fragment li-space-above" data-fragment-index="5">Skriptsprache</li>
						<li class="fragment" data-fragment-index="5">(Für große und komplexe Systeme nur bedingt
							geeignet.)</li>
					</ul>
				</section>
				<section>
					<h3>PHP - Hypertext Preprocessor</h3>
					<h4>HTML Formular</h4>
					<pre class="fragment language-html">
						<code class="hljs">&lt;form action="action.php" method="post"&gt;
	<p>Ihr Name: <input type="text" name="name" /></p> 
	<p>Ihr Alter: <input type="text" name="alter" /></p> 
	<p><input type="submit" /></p> 
&lt;/form&gt;</code>
					</pre>
					<h4>PHP Ergebnisseite</h4>
					<pre class="fragment language-php">
					<code class="hljs">&lt;p&gt;
	Hallo &lt;?php echo $_POST['name']; ?&gt;.
	Sie sind &lt;?php echo $_POST['alter']; ?&gt; Jahre alt.
&lt;/p&gt;</code>
				</pre>
					<ul>
						<li class="fragment">Pragma "&lt;?php" und "?&gt;" für PHP-Codeblöcke</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
						<li class="fragment">HTML via "echo" ausgegeben</li>
					</ul>
				</section>
				<section>
					<h3>ASP.NET - Active Server Pages</h3>
					<ul>
						<li class="fragment">Weiterentwicklung von ASP<br />(mit Einführung von ASP.NET 2002
							eingestellt)</li>
						<li class="fragment">C# als Haupt-Programmiersprache,<br />aber auch VB verfügbar</li>
						<li class="fragment">Bindung an .NET Framework von Microsoft,<br />aber inzwischen Open-Source
							(seit 2020)</li>
						<li class="fragment li-space-above">Mit C# auch für größere Systeme geeignet</li>
					</ul>
				</section>
				<section>
					<h3>ASP.NET - Active Server Pages</h3>
					<pre class="language-html">
						<code class="hljs" data-line-numbers="|2|8-16|3-7|">&lt;body&gt;
	@{ if (IsPost) { 
		string companyname = Request["CompanyName"]; 
		string contactname = Request["ContactName"]; 
		<p>You entered: <br> 
		Company Name: @companyname <br> 
		Contact Name: @contactname </p> 
	} else {
		<form method="post" action="">
			Company Name:<br> 
			<input type="text" name="CompanyName" value=""><br>
			Contact Name:<br><br>
			<input type="text" name="ContactName" value=""><br>
			<input type="submit" value="Submit" class="submit">
		</form> 
	} }
&lt;/body&gt;</code>
					</pre>
					<ul>
						<li class="fragment">Pragma "@{" und "}" für C#-Codeblöcke</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
						<li class="fragment">HTML ohne zusätzliche Syntax ausgegeben</li>
					</ul>
				</section>
				<section>
					<h3>JSP - Java Server Pages</h3>
					<ul>
						<li class="fragment">JSP ist Bestandteil von Java EE (Enterprise Edition)</li>
						<li class="fragment">Große Auswahl an Bibliotheken und Infrastruktur</li>
						<li class="fragment">Java als Haupt-Programmiersprache</li>
						<li class="fragment">Application Server interpretierien JSP-Dateien<br />on-the-fly: JSP zu Java
							zu Bytecode
							Übersetzung</li>
						<li class="fragment li-space-above">Für größere Systeme geeignet</li>
					</ul>
				</section>
				<section>
					<h3>JSP - Java Server Pages</h3>
					<h4>HTML Formular</h4>
					<pre class="fragment language-html">
						<code class="hljs">&lt;form action="/action" method="post"&gt;
	<p>Ihr Name: <input type="text" name="name" /></p> 
	<p>Ihr Alter: <input type="text" name="alter" /></p> 
	<p><input type="submit" /></p> 
&lt;/form&gt;</code>
					</pre>
					<h4>JSP Ergebnisseite</h4>
					<pre class="fragment language-java">
					<code class="hljs">&lt;p&gt;
	Hallo &lt;% out.println(request.getParameter("name")); %&gt;.
	Sie sind &lt;% out.println(request.getParameter("alter")); %&gt; Jahre alt.
&lt;/p&gt;</code>
				</pre>
					<ul>
						<li class="fragment">Pragma "&lt;%" und "%&gt;" für Java-Codeblöcke</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
						<li class="fragment">HTML via "out.println" ausgegeben</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h3>Express - Templates</h3>
					<ol class="smaller-font">
						<li class="fragment">Template Engine registrieren: <a
								href="https://expressjs.com/en/4x/api.html#app.engine">app.engine(ext, callback)</a>
							<ul>
								<li>ext: Standard Dateiendung, String</li>
								<li>callback: Render Funktion der Template-Engine, Funktion</li>
							</ul>
						</li>
						<li class="fragment">Template rendern:<br /><a
								href="https://expressjs.com/en/4x/api.html#res.render">res.render(view [, locals] [,
								callback])</a>
							<ul>
								<li>view: Pfad zur Template-Datei, String</li>
								<li>locals: Template-Parameter, Objekt</li>
								<li>callback: wird mit (err, html) gerufen. html muss selbst zurückgesendet werden
									(res.send)</li>
							</ul>
						</li>
						<li class="fragment">App-Einstellungen: <a
								href="https://expressjs.com/en/4x/api.html#app.set">app.set(name,
								value)</a>
							<ul>
								<li>views: Pfad zum Ordner, String|Array</li>
								<li>view engine: Standard Dateiendung, String</li>
							</ul>
						</li>
					</ol>
				</section>
				<section>
					<h3>Express - Templates</h3>
					<img src="./images/fluch-und-segen.webp" alt="Fluch und Segen Schild" />
				</section>
				<section>
					<h3>Express - Templates</h3>
					<ul>
						<li>Segen
							<ul class="fragment">
								<li><a href="https://expressjs.com/en/resources/template-engines.html">Große Auswahl an
										Template-Engines</a></li>
								<li>Eigene (potentiell properitäre) Template-Engine kann mitgebracht werden</li>
								<li>Bei großer Auswahl ist für jeden das richtige dabei</li>
							</ul>
						</li>
						<li>Fluch
							<ul class="fragment">
								<li>Ist das OSS-Projekt noch aktiv? Security-Patches?</li>
								<li>Schwer zu vergleichen (Syntax, Features, Tooling)</li>
								<li>Projektwechsel schwieriger</li>
							</ul>
						</li>
					</ul>
					<p class="fragment">Wir werden "<a href="https://npmjs.com/package/eta">eta</a>" (<a
							href="https://eta.js.org/">eta.js.org</a>) nutzen, v3. <span class="fragment">Muss
							via<br>"npm
							install eta" installiert werden!</span></p>
				</section>
				<section>
					<h3>Express - Eta - Hello World</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/03-nodejs-templates/express-eta-hello-world.js" data-line-numbers="|1-3|5-6|8-10|12-14|"></code>
					</pre>
					<p>Im Browser öffnen: "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
				</section>
				<section>
					<h3>Express - Eta - Hello World</h3>
					<pre class="language-html">
						<code class="hljs" data-code="./code-examples/03-nodejs-templates/views/hello-world.eta" data-line-numbers="|2|3-11|9|"></code>
					</pre>
					<ul>
						<li class="fragment">Pragma "&lt;%" und "%&gt;" für JavaScript-Codeblöcke<br />Aber: Reservierte
							Variablen, z.B.
							"it"</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
					</ul>
				</section>
				<section>
					<h3>Express - Eta - Pragmas</h3>
					<ul>
						<li>"&lt;%" und "%&gt;", JavaScript-Codeblock</li>
					</ul>
					<pre class="language-html">
						<code class="hljs" data-line-numbers=""><% if(it.somevalue === 1) { %>
	<p>Display this paragraph</p>
<% } else { %>
	<p>Display this instead paragraph instead</p>
<% } %></code>
					</pre>
					<p class="fragment">Spezialvariable: "it"<br />enthält das gesamte Parameterobjekt</p>
					<p class="fragment">Nach wie vor gilt: Logik von Darstellung trennen(!!)</p>
				</section>
				<section>
					<h3>Express - Eta - Pragmas</h3>
					<ul>
						<li>"&lt;%=" Expressions
							<ul>
								<li>Ergebnis des JavaScript-Ausdrucks wird ausgegeben (escaped!)</li>
							</ul>
						</li>
						<li class="fragment">"&lt;%~" Raw Expressions
							<ul>
								<li>Ergebnis des JavaScript-Ausdrucks wird ausgegeben (raw!, <a
										href="https://netsec.expert/images/session_id_meme.jpg">Careful: XSS!</a>)</li>
							</ul>
						</li>
						<li class="fragment">"&lt;%~ includeFile('./footer')" Partial
							<ul>
								<li>Inhalt der Datei wird ausgegeben (raw!)</li>
							</ul>
						</li>
					</ul>
					<p class="fragment"><a href="https://eta.js.org/docs/syntax">Eta Syntax Dokumentation</a></p>
				</section>
			</section>
			<section>
				<section>
					<h3>Express - Statische Dateien</h3>
					<p>Bisher: Reine HTML/JSON/Plain-Text antworten auf HTTP-Anfragen.</p>
					<p class="fragment">Aber: Für eine vollständige Website fehlen noch (mindestens) CSS-Dateien und
						Bilder</p>
					<ul class="fragment">
						<li><a href="https://expressjs.com/en/api.html#express.static">express.static(root,
								[options])</a>
							<ul>
								<li>Gibt eine Middleware zurück</li>
							</ul>
						</li>
					</ul>
					<p class="fragment">Vorsicht: Node.JS+Express sind schnarch langsam statische Dateien auszuliefern.
						In Produktion CDN/Load Balancer/Caches/Web-Server nutzen.</p>
				</section>
				<section>
					<h3>Express - Statische Dateien</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/04-nodejs-express-static/express-static.js" data-line-numbers="|1|2|5-6|8-10|12-14|"></code>
					</pre>
					<p>Im Browser öffnen: "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - Aufgabe 5 - Name - Eta</h3>
					<p>Erstellt einen Node.JS-Server der eine Seite mit einer Überschrift und einem Formular mit einem
						Eingabefeld generiert.
					<ul>
						<li>Im Eingabefeld wird nach dem Namen gefragt:<br />"Wie ist dein Name?"</li>
						<li>Falls noch kein Name angegeben wurde lautet die Überschrift "Hallo Du Da".</li>
						<li>Falls ein Name angegeben wurde lautet die Überschrift "Hallo &lt;name&gt;".</li>
					</ul>
					</p>
				</section>
				<section>
					<h3>Praxis - Aufgabe 6 - Rechner - Eta</h3>
					<p>Programmiert einen kleinen Rechner
					<ul>
						<li>Formular für zwei Operanden als auch die Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
					</ul>
					</p>
					<h4>Zusatz</h4>
					<p>Bei Eingabe nicht-nummerischer Werte: Passende Fehlermeldung an passender Stelle</p>
				</section>
				<section>
					<h3>Praxis - Aufgabe 7 - Zähler</h3>
					<p>Zählt die Anzahl der Seitenaufrufe mit einer Instanz-Variable und gebt die Anzahl auf der
						Seite aus.</p>
					<h4>Zusatz</h4>
					<p>Unterscheidet verschiedene Nutzer und gebt spezifische Anzahl an Seitenaufrufen aus (Tipp:
						HTTP-Header, User-Agent)</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Lösung - Aufgabe 5 - Name - Eta</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/05-name-eta/">TINF23B2/nodejs/aufgaben/<br>05-name-eta/</a>
					</p>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/05-name-eta/loesung-http-name-server-eta.js">TINF23B2/nodejs/aufgaben/<br>05-name-eta/loesung-http-name-server-eta.js</a>
					</p>
				</section>
				<section>
					<h3>Lösung - Aufgabe 6 - Rechner - Eta</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/06-rechner-eta/">TINF23B2/nodejs/aufgaben/<br>06-rechner-eta/</a>
					</p>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/06-rechner-eta/loesung-http-rechner-server-eta.js">TINF23B2/nodejs/aufgaben/<br>06-rechner-eta/loesung-http-rechner-server-eta.js</a>
					</p>
				</section>
				<section>
					<h3>Lösung - Aufgabe 7 - Zähler</h3>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/07-zaehler/">TINF23B2/nodejs/aufgaben/<br>07-zaehler/</a>
					</p>
					<p>
						<a
							href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/TINF23B2/nodejs/aufgaben/07-zaehler/loesung-http-zaehler.js">TINF23B2/nodejs/aufgaben/<br>07-zaehler/loesung-http-zaehler.js</a>
					</p>
				</section>
			</section>
			<!-- Ende NodeJS-Day2-->
		</div>
	</div>

	<script src="dist/reveal.js"></script>
	<script src="plugin/notes/notes.js"></script>
	<script src="plugin/markdown/markdown.js"></script>
	<script src="plugin/highlight/highlight.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="plugin/externalcode/externalcode.js"></script>
	<script>
		// More info about initialization & config:
		// - https://revealjs.com/initialization/
		// - https://revealjs.com/config/
		Reveal.initialize({
			slideNumber: "c/t",
			hash: true,
			pdfSeparateFragments: false,
			// No Vertical centering of slides
			center: false,

			// Learn about plugins: https://revealjs.com/plugins/
			plugins: [Externalcode, RevealMarkdown, RevealHighlight, RevealNotes]
		});
		Reveal.addEventListener('ready', function () {
			var header = $('#hidden').html();
			$('.slide-background').append(header);
		});
	</script>
	<div id="hidden" style="display:none;">
		<header>
			<img height="40" src="dhbw-logo-small.svg" alt="DHBW-Logo">
		</header>
	</div>
</body>

</html>