body {
	display              : grid;
	grid-template-columns: repeat(auto-fit, minmax(max(250px, 40vw), 1fr));
	gap                  : 10px;
}

.header {
	grid-column: 1 / -1;
}

.footer {
	grid-column: 1 / -1;
}


.navigation {
	grid-row   : 2;
	grid-column: 1 / -1;
}

.navlist {
	display  : flex;
	flex-wrap: wrap;
	padding  : 0px;
	margin   : 0px;
}

.navitem {
	display: block;
}

.navlast {
	margin-left: auto;
}

.smallarticle {
	min-width: 250px;
}

.largearticle {
	grid-column: 1 / -1;
}

.aside {
	display: none;
}