<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Lösung Aufgabe - Name - Eta</title>
</head>

<body>
    <%if(it.name==""){%>
        <h1>Hallo Du Da</h1>
    <%}else {%>
        <h1>Hallo <%=it.name %>!</h1>
    <%}%>

    <form action="/" method="post">
        <input type="text" name="name" id="name" placeholder="Dein Name?">
        <input type="submit" value="Abschicken">
    </form>

</body>

</html>