<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>WebEng1: NodeJS</title>

	<link rel="stylesheet" href="dist/reset.css">
	<link rel="stylesheet" href="dist/reveal.css">
	<link rel="stylesheet" href="dist/theme/white.css">

	<!-- Theme used for syntax highlighted code -->
	<link rel="stylesheet" href="plugin/highlight/monokai.css">

	<style>
		header {
			position: absolute;
			top: 12px;
			right: 12px;
		}

		iframe.code-example {
			border: 2px solid grey;
		}

		iframe.full-width {
			width: 100%;
		}

		iframe.mindmap {
			width: 100%;
			height: 50vh;
		}

		.two-columns {
			display: grid;
			grid: auto-flow / 2fr 1fr;
			grid-auto-flow: column
		}

		.two-columns-half-half {
			display: grid;
			grid: auto-flow / 1fr 1fr;
			grid-auto-flow: column
		}

		.text-column {
			margin: 5px;
		}

		.li-space-above {
			margin-top: 55px;
		}

		.js-output {
			border: 2px solid grey;
			text-align: left;
		}

		.smaller-font {
			font-size: smaller;
		}

		.min-height-200 {
			min-height: 400px;
		}
	</style>
</head>

<!--
	PDF-Export (/?print-pdf)
	Tag 1: 1,3-23
	Tag 1 - Praxis: 13-14,21-23
	Tag 1 - Praxis-Loesungen: 15
	Tag 2: 1,24-42
	Tag 2 - Praxis: 43-45
	Tag 3: 1,46-54,57-64
	Tag 3 - Praxis: 55-56,66
	Tag 4: 1,67-74,76-80,83-89
	Tag 4 - Praxis: 75,81,90
	Tag 4 - Praxis-Loesungen: 82
-->

<body>
	<div class="reveal">
		<div class="slides">
			<section>
				<h1>NodeJS</h1>

				<p>
					JavaScript Laufzeitumgebung basierend auf der<br />V8 JavaScript Engine
				</p>
				<img style="background-color: grey; padding: 8px;" src="./images/nodejs.svg" alt="NodeJS Logo"
					width="589" height="361" />
			</section>
			<section>
				<h3>NodeJS - Mindmap</h3>
				<iframe class="mindmap" data-src="./mindmap.html"></iframe>
			</section>
			<section>
				<section>
					<h3>NodeJS - Server</h3>
					<img src="./images/nodejs-server.svg" alt="NodeJS Server" />
				</section>
				<section>
					<h3>NodeJS - Beispiel</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/01-nodejs-http/http-response.js" data-line-numbers="|1|2|2-13|14|"></code>
					</pre>
					<p>Im Browser öffnen: "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
					<p>alternativ: "http://localhost:8000/<a href="https://youtu.be/KaqC5FnvAEc?t=14">trololol</a>"</p>
				</section>
				<section>
					<h3>NodeJS - Dokumentation</h3>
					<ul>
						<li><a href="https://nodejs.org/api/http.html#httpcreateserveroptions-requestlistener">http.createServer([options][,
								requestListener])</a></li>
						<li>req: <a
								href="https://nodejs.org/api/http.html#class-httpincomingmessage">http.IncomingMessage</a>
						</li>
						<li>res: <a
								href="https://nodejs.org/api/http.html#class-httpserverresponse">http.ServerResponse</a>
						</li>
						<li>server: <a href="https://nodejs.org/api/http.html#class-httpserver">http.Server</a></li>
					</ul>
				</section>
				<section>
					<h3>NodeJS</h3>
					<p>Vorteile:
					<ul>
						<li class="fragment">Asynchrone Performanz</li>
						<li class="fragment">Mächtige Programmiersprache und Programmierumgebung: JavaScript +
							Npm-Module</li>
						<li class="fragment">Plattformunabhängig</li>
					</ul>
					</p>
					<p class="fragment">Nachteile:
					<ul>
						<li class="fragment">Code kann Server zum Absturz bringen</li>
						<li class="fragment">Bindung an Programmiersprache JavaScript (<a
								href="https://giphy.com/gifs/gene-wilder-8OlT82jKm6Ugg">yikes</a>)</li>
					</ul>
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>NodeJS http - ganz kurz</h3>
					<p>API für Client als auch Server Funktionalität: <a
							href="https://nodejs.org/api/http.html">Docs</a></p>
					<p>Server 'request' Event bei jeder Client Anfrage</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/01-nodejs-http/http-request-event.js" data-line-numbers="|1-3|4|4-11|13|"></code>
					</pre>
					<p>'res.end' MUSS immer aufgerufen werden</p>
				</section>
				<section>
					<h3>NodeJS http - ganz kurz</h3>
					<p>Request-Listener <span class="fragment highlight-current-red" data-fragment-index="0">'(req, res)
							=> {}'</span> einzigste Server-API</p>
					<p class="fragment" data-fragment-index="1">Zuordnung zu einer URL muss programmiert werden</p>
					<p class="fragment" data-fragment-index="2">Zuordnung zu einer HTTP-Methode muss programmiert werden
					</p>
					<p class="fragment" data-fragment-index="3">Low-Level Schnittstelle</p>
				</section>
				<section>
					<h3>Einschub: HTTP-Refresh</h3>

					<h4>HTTP/1.1 - Anfrage/<span class="fragment highlight-current-red">Req</span>uest</h4>
					<pre><code class="language-http hljs" data-line-numbers="1-2">GET /index.html HTTP/1.1
Host: example.com
</code></pre>
					<h4>HTTP/1.1 - Antwort/<span class="fragment highlight-current-red">Res</span>ponse</h4>
					<pre><code class="language-http hljs" data-line-numbers="1-6">HTTP/1.1 200 OK
Server: Apache/1.3.29 (Unix) PHP/4.3.4
Content-Length: 123456
Content-Type: text/html; charset=utf-8

&lt;!DOCTYPE ...</code></pre>
				</section>
				<section>
					<h3>NodeJS http.IncomingMessage</h3>
					<p>Dokumentation: <a
							href="https://nodejs.org/api/http.html#class-httpincomingmessage">http.IncomingMessage</a>
						(req)
					</p>
					<ul>
						<li class="fragment" data-fragment-index="1">httpVersion (String)</li>
						<li class="fragment" data-fragment-index="1">method (String)</li>
						<li class="fragment" data-fragment-index="1">url (String)</li>
						<li class="fragment" data-fragment-index="2">headers (Object)
							<ul>
								<li>'user-agent'</li>
								<li>'host'</li>
							</ul>
						</li>
						<li class="fragment" data-fragment-index="3">Event 'data' (chunk, String)</li>
						<li class="fragment" data-fragment-index="3">Event 'end'</li>
					</ul>
				</section>
				<section>
					<h3>NodeJS http.OutgoingMessage</h3>
					<p>Dokumentation: <a
							href="https://nodejs.org/api/http.html#class-httpoutgoingmessage">http.OutgoingMessage</a>
						(res)
					</p>
					<ul>
						<li class="fragment" data-fragment-index="1">setHeader(name, value)</li>
						<li class="fragment" data-fragment-index="1">getHeader(name)</li>
						<li class="fragment" data-fragment-index="1">removeHeader(name)</li>
						<li class="fragment" data-fragment-index="2">writeHead(statusCode[, statusMessage][, headers])
							<ul>
								<li>statusCode (number)</li>
								<li>statusMEssage (String)</li>
								<li>headers (Object|Array)</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>NodeJS http.OutgoingMessage</h3>
					<p>Dokumentation: <a
							href="https://nodejs.org/api/http.html#class-httpoutgoingmessage">http.OutgoingMessage</a>
						(res)
					</p>
					<ul>
						<li>write(chunk[, encoding][, callback])
							<ul>
								<li>chunk (String|Buffer)</li>
								<li>encoding (String, "utf8")</li>
								<li>callback (Function, chunk flushed)</li>
							</ul>
						</li>
						<li class="fragment">end(chunk[, encoding][, callback])
							<ul>
								<li>chunk (String|Buffer)</li>
								<li>encoding (String, "utf8")</li>
								<li>callback (Function, "finish" event)</li>
							</ul>
						</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 0</h3>
					<p>Node.js v18 installieren: <a href="https://nodejs.org/en/download/current/">Downloads</a></p>
					<h4>Zusatz</h4>
					<p>IDE installieren, z.B. <a href="https://code.visualstudio.com/">VSCode</a> oder <a
							href="https://www.jetbrains.com/webstorm/">WebStorm</a></p>
				</section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 1</h3>
					<p>Implementiere einen Echo-Server.<br />Bei einem GET-Request soll die URL (als plain text)
						zurückgegeben werden.<br />Bei einem POST-Request soll der Inhalt zurückgegeben werden.</p>
					<h4>Zusatz</h4>
					<p>Start des Servers (bereit Anfragen entgegenzunehmen) wird auf der Konsole ausgeben</p>
					<p>Herunterfahren des Servers wird auf der Konsole ausgeben (Tip: Strg+C -> 'SIGINT', process.on)
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>NodeJS - Lösung - Aufgabe 1</h3>
					<a
						href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/added_2021/nodejs/code-examples/01-nodejs-http/http-echo-server.js">Lösung</a>
				</section>
			</section>
			<section>
				<section>
					<h3>Npm-Module: Express</h3>
					<p>High-Level HTTP-Server API</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-hello-world.js" data-line-numbers="|1-3|5|5-7|9-11|"></code>
					</pre>
					<p class="fragment">'res.send' MUSS weiterhin immer aufgerufen werden</p>
				</section>
				<section>
					<h3>Express</h3>
					<p>Open-Source Npm-Module '<a href="https://www.npmjs.com/package/express">express</a>' (<a
							href="https://expressjs.com/">expressjs.com</a>)</p>
					<p>Defakto-Standard im Node.JS Universum<br />für Http-Server</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-methods.js" data-line-numbers="|1|3-5|7-9|"></code>
					</pre>
				</section>
				<section>
					<h3>Express - HTML Antwort</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-html-response.js" data-line-numbers="|3|4|5-14|16-19|"></code>
					</pre>
					<p class="fragment">Sinnvoller default: mit type('html') wird auch charset=utf-8 verwendet!</p>
				</section>
				<section>
					<h3>Express - JSON Antwort</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-json-response.js" data-line-numbers="|4|5|6-8|11-14|"></code>
					</pre>
					<p class="fragment">Egal welcher "type()" der Inhalt einer Http-Response ist immer ein string!</p>
				</section>
				<section>
					<h3>Express - Anfrage-Inhalt</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-anfrage-inhalt.js" data-line-numbers="|12-14|8-9|5-7|16-18|"></code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 2</h3>
					<p>Erstellt einen Node.JS Server der per GET- und POST-Methode aufgerufen werden
						kann (z.B. via zwei Buttons in zwei Formularen)</p>
					<p>Programmiert den Node.JS Server, sodass:
					<ul>
						<li>ein HTML-Dokument "Hello World from GET" mit Url bei einer get-Anfrage zurückgeliefert wird
						</li>
						<li>ein HTML-Dokument "Hello World from POST" mit Body bei einer post-Anfrage zurückgeliefert
							wird</li>
					</ul>
					</p>
					<h4>Zusatz</h4>
					<p>Gebt im HTML-Dokument die aktuelle Uhrzeit aus</p>
				</section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 3</h3>
					<p>Erstellt einen Node.JS-Server der eine Seite mit einer Überschrift und einem Formular mit einem
						Eingabefeld generiert.
					<ul>
						<li>Im Eingabefeld wird nach dem Namen gefragt:<br />"Wie ist dein Name?"</li>
						<li>Falls noch kein Name angegeben wurde lautet die Überschrift "Hallo Du Da".</li>
						<li>Falls ein Name angegeben wurde lautet die Überschrift "Hallo &lt;name&gt;".</li>
					</ul>
					</p>
				</section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 4</h3>
					<p>Programmiert einen kleinen Rechner
					<ul>
						<li>Formular für zwei Operanden als auch die Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
					</ul>
					</p>
					<h4>Zusatz</h4>
					<p>Bei Eingabe nicht-nummerischer Werte: Passende Fehlermeldung an passender Stelle</p>
				</section>
			</section>
			<section>
				<section>
					<h3>HTML generieren</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/02-nodejs-express/express-html-response.js" data-line-numbers=""></code>
					</pre>
					<p>Das erzeugen von HTML-Code ist umständlich!</p>
				</section>
				<section>
					<h3>SSI - Rückblick</h3>
					<pre class="language-html">
						<code class="hljs" data-line-numbers="">&lt;body&gt;
	<h1>Dynamisches HTML mit Server Side Includes</h1>
	<dl>
		<dt>Datum/Uhrzeit auf dem Server-Rechner:</dt>
		<dd>
			<!--#config timefmt="%d.%m.%Y, %H.%M" -->
			<!--#echo var="DATE_LOCAL" --> Uhr
		</dd>
		<dt>Name dieser HTML-Datei:</dt>
		<dd>
			<!--#echo var="DOCUMENT_NAME" -->
		</dd>
		<dt>Installierte Server-Software:</dt>
		<dd>
			<!--#echo var="SERVER_SOFTWARE" -->
		</dd>
		<dt>Ihr Web-Browser:</dt>
		<dd>
			<!--#echo var="HTTP_USER_AGENT" -->
		</dd>
	</dl>
&lt;/body&gt;</code>
					</pre>
					<p>Quelle: <a href="https://wiki.selfhtml.org/wiki/Webserver/SSI">SelfHTML</a></p>
				</section>
				<section>
					<h3>Vergleich: SSI vs. NodeJS</h3>
					<div class="two-columns-half-half smaller-font">
						<div>
							<h4>SSI</h4>
							<ul>
								<li>&lt;h1&gt;abc&lt;/h1&gt;
									<ul>
										<li>HTML ist Grundsprache</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="1">&lt;!-- #set var="x" value="1" --&gt;
									<ul>
										<li>Für SSI-Befehl aus HTML "heraus springen"</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="2">Pfad entspricht Dateiname</li>
							</ul>
						</div>
						<div>
							<h4>NodeJS</h4>
							<ul>
								<li>response += "&lt;h1&gt;abc&lt;/h1&gt;"
									<ul>
										<li>HTML explizit ausgeben</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="1">let x = 1;
									<ul>
										<li>JavaScript ist Grundsprache der Datei</li>
									</ul>
								</li>
								<li class="fragment" data-fragment-index="2">Explizite Zuordnung zu einer URL</li>
							</ul>
						</div>
					</div>
				</section>
			</section>
			<section>
				<section>
					<h3>Grundidee: HTML-Seiten mit Einbettungen</h3>
					<ul>
						<li>Vorteile
							<ul>
								<li>HTML-Struktur leichter lesbar und änderbar</li>
								<li>Leichter zu managen (IDE Syntaxhighlighting, etc.)</li>
							</ul>
						</li>
						<li class="fragment">Bedingungen
							<ul>
								<li>Code hat nur kleinen Anteil</li>
								<li>Komplexen Code auslagern!</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>PHP - Hypertext Preprocessor</h3>
					<ul>
						<li class="fragment" data-fragment-index="1">Ursprünglich: Personal Homepage Tool</li>
						<li class="fragment" data-fragment-index="2">Frei Verfügbar</li>
						<li class="fragment" data-fragment-index="3">Große Auswahl an Bibliotheken</li>
						<li class="fragment" data-fragment-index="4">Für viele Betriebssysteme und Webserver verfügbar
						</li>
						<li class="fragment li-space-above" data-fragment-index="5">Skriptsprache</li>
						<li class="fragment" data-fragment-index="5">(Für große und komplexe Systeme nur bedingt
							geeignet.)</li>
					</ul>
				</section>
				<section>
					<h3>PHP - Hypertext Preprocessor</h3>
					<h4>HTML Formular</h4>
					<pre class="fragment language-html">
						<code class="hljs">&lt;form action="action.php" method="post"&gt;
	<p>Ihr Name: <input type="text" name="name" /></p> 
	<p>Ihr Alter: <input type="text" name="alter" /></p> 
	<p><input type="submit" /></p> 
&lt;/form&gt;</code>
					</pre>
					<h4>PHP Ergebnisseite</h4>
					<pre class="fragment language-php">
					<code class="hljs">&lt;p&gt;
	Hallo &lt;?php echo $_POST['name']; ?&gt;.
	Sie sind &lt;?php echo $_POST['alter']; ?&gt; Jahre alt.
&lt;/p&gt;</code>
				</pre>
					<ul>
						<li class="fragment">Pragma "&lt;?php" und "?&gt;" für PHP-Codeblöcke</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
						<li class="fragment">HTML via "echo" ausgegeben</li>
					</ul>
				</section>
				<section>
					<h3>ASP.NET - Active Server Pages</h3>
					<ul>
						<li class="fragment">Weiterentwicklung von ASP<br />(mit Einführung von ASP.NET 2002
							eingestellt)</li>
						<li class="fragment">C# als Haupt-Programmiersprache,<br />aber auch VB verfügbar</li>
						<li class="fragment">Bindung an .NET Framework von Microsoft,<br />aber inzwischen Open-Source
							(seit 2020)</li>
						<li class="fragment li-space-above">Mit C# auch für größere Systeme geeignet</li>
					</ul>
				</section>
				<section>
					<h3>ASP.NET - Active Server Pages</h3>
					<pre class="language-html">
						<code class="hljs" data-line-numbers="|2|8-16|3-7|">&lt;body&gt;
	@{ if (IsPost) { 
		string companyname = Request["CompanyName"]; 
		string contactname = Request["ContactName"]; 
		<p>You entered: <br> 
		Company Name: @companyname <br> 
		Contact Name: @contactname </p> 
	} else {
		<form method="post" action="">
			Company Name:<br> 
			<input type="text" name="CompanyName" value=""><br>
			Contact Name:<br><br>
			<input type="text" name="ContactName" value=""><br>
			<input type="submit" value="Submit" class="submit">
		</form> 
	} }
&lt;/body&gt;</code>
					</pre>
					<ul>
						<li class="fragment">Pragma "@{" und "}" für C#-Codeblöcke</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
						<li class="fragment">HTML ohne zusätzliche Syntax ausgegeben</li>
					</ul>
				</section>
				<section>
					<h3>JSP - Java Server Pages</h3>
					<ul>
						<li class="fragment">JSP ist Bestandteil von Java EE (Enterprise Edition)</li>
						<li class="fragment">Große Auswahl an Bibliotheken und Infrastruktur</li>
						<li class="fragment">Java als Haupt-Programmiersprache</li>
						<li class="fragment">Application Server interpretierien JSP-Dateien<br />on-the-fly: JSP zu Java
							zu Bytecode
							Übersetzung</li>
						<li class="fragment li-space-above">Für größere Systeme geeignet</li>
					</ul>
				</section>
				<section>
					<h3>JSP - Java Server Pages</h3>
					<h4>HTML Formular</h4>
					<pre class="fragment language-html">
						<code class="hljs">&lt;form action="/action" method="post"&gt;
	<p>Ihr Name: <input type="text" name="name" /></p> 
	<p>Ihr Alter: <input type="text" name="alter" /></p> 
	<p><input type="submit" /></p> 
&lt;/form&gt;</code>
					</pre>
					<h4>JSP Ergebnisseite</h4>
					<pre class="fragment language-java">
					<code class="hljs">&lt;p&gt;
	Hallo &lt;% out.println(request.getParameter("name")); %&gt;.
	Sie sind &lt;% out.println(request.getParameter("alter")); %&gt; Jahre alt.
&lt;/p&gt;</code>
				</pre>
					<ul>
						<li class="fragment">Pragma "&lt;%" und "%&gt;" für Java-Codeblöcke</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
						<li class="fragment">HTML via "out.println" ausgegeben</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h3>Express - Templates</h3>
					<ol class="smaller-font">
						<li class="fragment">Template Engine registrieren: <a
								href="https://expressjs.com/en/4x/api.html#app.engine">app.engine(ext, callback)</a>
							<ul>
								<li>ext: Standard Dateiendung, String</li>
								<li>callback: Render Funktion der Template-Engine, Funktion</li>
							</ul>
						</li>
						<li class="fragment">Template rendern:<br /><a
								href="https://expressjs.com/en/4x/api.html#res.render">res.render(view [, locals] [,
								callback])</a>
							<ul>
								<li>view: Pfad zur Template-Datei, String</li>
								<li>locals: Template-Parameter, Objekt</li>
								<li>callback: wird mit (err, html) gerufen. html muss selbst zurückgesendet werden
									(res.send)</li>
							</ul>
						</li>
						<li class="fragment">App-Einstellungen: <a
								href="https://expressjs.com/en/4x/api.html#app.set">app.set(name,
								value)</a>
							<ul>
								<li>views: Pfad zum Ordner, String|Array</li>
								<li>view engine: Standard Dateiendung, String</li>
							</ul>
						</li>
					</ol>
				</section>
				<section>
					<h3>Express - Templates</h3>
					<img src="./images/fluch-und-segen.webp" alt="Fluch und Segen Schild" />
				</section>
				<section>
					<h3>Express - Templates</h3>
					<ul>
						<li>Segen
							<ul class="fragment">
								<li><a href="https://expressjs.com/en/resources/template-engines.html">Große Auswahl an
										Template-Engines</a></li>
								<li>Eigene (potentiell properitäre) Template-Engine kann mitgebracht werden</li>
								<li>Bei großer Auswahl ist für jeden das richtige dabei</li>
							</ul>
						</li>
						<li>Fluch
							<ul class="fragment">
								<li>Ist das OSS-Projekt noch aktiv? Security-Patches?</li>
								<li>Schwer zu vergleichen (Syntax, Features, Tooling)</li>
								<li>Projektwechsel schwieriger</li>
							</ul>
						</li>
					</ul>
					<p class="fragment">Wir werden "<a href="https://npmjs.com/package/eta">eta</a>" (<a
							href="https://eta.js.org/">eta.js.org</a>) nutzen.</p>
				</section>
				<section>
					<h3>Express - Eta - Hello World</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/03-nodejs-templates/express-eta-hello-world.js" data-line-numbers="|1|2|5-6|8-10|12-14|"></code>
					</pre>
					<p>Im Browser öffnen: "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
				</section>
				<section>
					<h3>Express - Eta - Hello World</h3>
					<pre class="language-html">
						<code class="hljs" data-code="./code-examples/03-nodejs-templates/views/hello-world.eta" data-line-numbers="|2|3-11|9|"></code>
					</pre>
					<ul>
						<li class="fragment">Pragma "&lt;%" und "%&gt;" für JavaScript-Codeblöcke<br />Aber: Reservierte
							Variablen, z.B.
							"it"</li>
						<li class="fragment">Vorsicht: Kein gültiges HTML!</li>
					</ul>
				</section>
				<section>
					<h3>Express - Eta - Pragmas</h3>
					<ul>
						<li>"&lt;%" und "%&gt;", JavaScript-Codeblock</li>
					</ul>
					<pre class="language-html">
						<code class="hljs" data-line-numbers=""><% if(it.somevalue === 1) { %>
	<p>Display this paragraph</p>
<% } else { %>
	<p>Display this instead paragraph instead</p>
<% } %></code>
					</pre>
					<p class="fragment">Spezialvariable: "it"<br />enthält das gesamte Parameterobjekt</p>
					<p class="fragment">Nach wie vor gilt: Logik von Darstellung trennen(!!)</p>
				</section>
				<section>
					<h3>Express - Eta - Pragmas</h3>
					<ul>
						<li>"&lt;%=" Expressions
							<ul>
								<li>Ergebnis des JavaScript-Ausdrucks wird ausgegeben (escaped!)</li>
							</ul>
						</li>
						<li class="fragment">"&lt;%~" Raw Expressions
							<ul>
								<li>Ergebnis des JavaScript-Ausdrucks wird ausgegeben (raw!)</li>
							</ul>
						</li>
						<li class="fragment">"&lt;%~ includeFile('./footer')" Partial
							<ul>
								<li>Inhalt der Datei wird ausgegeben (raw!)</li>
							</ul>
						</li>
					</ul>
					<p class="fragment"><a href="https://eta.js.org/docs/syntax">Eta Syntax Dokumentation</a></p>
				</section>
			</section>
			<section>
				<section>
					<h3>Express - Statische Dateien</h3>
					<p>Bisher: Reine HTML/JSON/Plain-Text antworten auf HTTP-Anfragen.</p>
					<p class="fragment">Aber: Für eine vollständige Website fehlen noch (mindestens) CSS-Dateien und
						Bilder</p>
					<ul class="fragment">
						<li><a href="https://expressjs.com/en/api.html#express.static">express.static(root,
								[options])</a>
							<ul>
								<li>Gibt eine Middleware zurück</li>
							</ul>
						</li>
					</ul>
					<p class="fragment">Vorsicht: Node.JS+Express sind schnarch langsam statische Dateien auszuliefern.
						In Produktion
						auch Load Balancer/Caches/Web-Server nutzen.</p>
				</section>
				<section>
					<h3>Express - Statische Dateien</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/04-nodejs-express-static/express-static.js" data-line-numbers="|1|2|5-6|8-10|12-14|"></code>
					</pre>
					<p>Im Browser öffnen: "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 3</h3>
					<p>Erstellt einen Node.JS-Server der eine Seite mit einer Überschrfit und einem Formular mit einem
						Eingabefeld generiert.
					<ul>
						<li>Im Eingabefeld wird nach dem Namen gefragt: "Wie ist dein Name?"</li>
						<li>Falls noch kein Name angegeben wurde lautet die Überschrift "Hallo Du Da".</li>
						<li>Falls ein Name angegeben wurde lautet die Überschrift "Hallo &lt;name&gt;".</li>
					</ul>
					</p>
				</section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 4</h3>
					<p>Programmiert einen kleinen Rechner
					<ul>
						<li>Formular für zwei Operanden als auch die Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
					</ul>
					</p>
					<h4>Zusatz</h4>
					<p>Bei Eingabe nicht-nummerischer Werte: Passende Fehlermeldung an passender Stelle</p>
				</section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 5</h3>
					<p>Zählt die Anzahl der Seitenaufrufe mit einer Instanz-Variable und gebt die Anzahl auf der
						Seite aus.</p>
					<h4>Zusatz</h4>
					<p>Unterscheidet verschiedene Nutzer und gebt spezifische Anzahl an Seitenaufrufen aus (Tipp:
						HTTP-Header, User-Agent)</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Redirects/Weiterleitungen</h3>
					<img style="width: 75%" class="fragment" data-fragment-index="1"
						src="./images/mario-princess-in-another-castle.png"
						alt="Super Mario Princess is in another castle Joke" />
				</section>
				<section>
					<h3>HTTP - Redirect</h3>
					<p>HTTP-Status Codes 3xx, Server-Antwort beinhaltet Header "Location" mit neuer URI</p>
					<ul>
						<li>301 Moved Permanently
							<ul>
								<li>diese und alle zukünftigen Anfragen sollen an neue URI gehen</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>HTTP - Redirect</h3>
					<p>HTTP-Status Codes 3xx, Server-Antwort beinhaltet Header "Location" mit neuer URI</p>
					<ul>
						<li>302 Found
							<ul>
								<li>Browser soll sich neue URI anschauen, in Zukunft aber wieder Original-URI</li>
							</ul>
						</li>
						<li>307 Temporary Redirect
							<ul>
								<li>siehe 302, plus HTTP-Methode <emph>muss</emph> gleich bleiben</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Express - Redirect</h3>
					<ul>
						<li><a href="https://expressjs.com/en/4x/api.html#res.redirect">res.redirect([status,] path)</a>
							<ul>
								<li>status: HTTP-Status Code (Default: 302), Number</li>
								<li>path: Neue URL, String
									<ul>
										<li class="fragment">Absolute URL: "https://example.com"</li>
										<li class="fragment">Host-relative URL: "/login"<br />
											"http://localhost:8000/" -> "http://localhost:8000/login"</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h3>Gültigkeitsbereiche</h3>
					<p>Wie lange sind Variablen gültig?</p>
					<ol>
						<li class="fragment">Template
							<ul>
								<li>Leben nur innerhalb eines Rendervorgangs</li>
							</ul>
						</li>
						<li class="fragment">Request
							<ul>
								<li>Leben so lange Anfrage bearbeitet wird</li>
							</ul>
						</li>
						<li class="fragment">Session
							<ul>
								<li>Leben so lange bis Session beendet wird</li>
							</ul>
						</li>
						<li class="fragment">Server
							<ul>
								<li>Leben so lange wie der Server läuft</li>
							</ul>
						</li>
					</ol>
				</section>
				<section>
					<h3>Template</h3>
					<p>Variablen nur als Teil eines Rendervorgangs gültig</p>
					<pre class="language-html">
						<code class="hljs" data-line-numbers=""><ul>
&lt;% it.users.forEach(function(user){ %>
	<li><%= user.name %></li>
<% }) %>
</ul></code></pre>
					<ul>
						<li class="fragment">"it": Gültig über den gesamten Rendervorgang</li>
						<li class="fragment">"user": Gültig innerhalb der Schleife</li>
					</ul>
				</section>
				<section>
					<h3>Request</h3>
					<p>Variablen nur als Teil eines Requests gültig</p>
					<pre class="language-js">
						<code class="hljs" data-line-numbers="">app.get("/result", (req, res) => {
	const result = superComplicatedCalculation(req);
	res.render("result.eta", { result, method: req.method });
});</code></pre>
					<p class="fragment">Variablen gültigkeit basierend auf dem<br />Javascript-Blockscope, hier:
					<ul>
						<li class="fragment">"req, res": Immer vorhanden, von Express</li>
						<li class="fragment">"result": Selbst erstellte Variable</li>
					</ul>
					</p>
				</section>
				<section>
					<h3>Session</h3>
					<p>Variablen nur als Teil einer Session gültig</p>
					<pre class="language-js">
						<code class="hljs" data-line-numbers="">app.get("/", (req, res) => {
	const session = getSession(req);
	console.log(session);
	// { id: "a1b2c3d4f5", name: "Max Müller" }
});</code></pre>
					<p class="fragment" data-fragment-index="1">Sessions müssen selbst implementiert werden,<br />z.B.
						mit Cookies</p>
					<p class="fragment" data-fragment-index="1">Solange Session aktiv ist, können darin Variablen
						gespeichert werden</p>
					<ul>
						<li class="fragment" data-fragment-index="2">"id": ID der Session</li>
						<li class="fragment" data-fragment-index="2">"name": Variable Teil der Session</li>
					</ul>
					</p>
				</section>
				<section>
					<h3>Server</h3>
					<p>Variablen nur als Teil der Server-Instanz gültig</p>
					<pre class="language-js">
						<code class="hljs" data-line-numbers="">const app = require("express")();
const port = 8000;

app.get("/", (_req, res) => {
	res.send(`Server listens on ${port}`);
});

app.listen(port);</code></pre>
					<p class="fragment">Typischerweise genutzt für z.B. Konfiguration, Cache, Startparameter</p>
					<ul>
						<li class="fragment">"port": Selbst angelegte Variable</li>
					</ul>
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 6</h3>
					<p>Programmiert einen kleinen Rechner
					<ul>
						<li>Formular für zwei Operanden und Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
						<li>Im Falle eines Fehlers leitet zu Fehlerseite</li>
					</ul>
					</p>
					<h4>Easter-Egg</h4>
					<p>Falls einer der Operanden '42' leitet auf eine Easter-Egg-Seite weiter.</p>
				</section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 7</h3>
					<p>Programmiert einen kleinen Rechner
					<ul>
						<li>Formular für zwei Operanden und Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
						<li>Zeigt auf der Ergebnisseite die letzten fünf Berechnungen und ihr Ergebnis an.</li>
					</ul>
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Model-1-Entwurfsmuster</h3>
					<img src="./images/model-1-entwurfsmuster.svg" alt="Model-1-Entwurfsmuster" width="589"
						height="361" />
				</section>
				<section>
					<h3>Ähnliche Problemstellungen</h3>
					<p>Aufgaben die sich in den Request-Handlern wiederholen:</p>
					<ul>
						<li class="fragment">Speichern eines Datensatzes
							<ul>
								<li>Falls alle Daten korrekt: Detailansicht</li>
								<li>Falls Fehler vorhanden: Formular mit Fehlermeldung</li>
							</ul>
						</li>
						<li class="fragment">Löschen eines Datensatzes
							<ul>
								<li>Falls erlaubt: Listenansicht</li>
								<li>Falls nicht erlaubt: Detailansicht mit Fehlermeldung</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Model-1-Entwurfsmuster</h3>
					<ul>
						<li>Wohin mit den Aktionen?
							<ul>
								<li class="fragment">gleiche Aktion kann zu unterschiedlichen Folgeseiten führen</li>
								<li class="fragment">Bei Aktionen überwiegt der Programmcode für die Logik, dem für die
									Darstellung.</li>
							</ul>
						</li>
						<li class="fragment">Trennung von Aktionen und Ergebnisdarstellung!
							<ul>
								<li class="fragment">Aktionen in getrennte Module verlagern!</li>
								<li class="fragment">Je nach Ergebnis der Aktion wird die richtige Folgeseite
									angesprungen</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Model-2-Entwurfsmuster</h3>
					<img src="./images/model-2-entwurfsmuster.svg" alt="Model-2-Entwurfsmuster" width="589"
						height="361" />
				</section>
				<section>
					<h3>Model-2-Entwurfsmuster</h3>
					<ol>
						<li>Browser empfängt Formular</li>
						<li class="fragment">Browser sendet Formular an Controller</li>
						<li class="fragment">Controller verarbeitet Aktion</li>
						<li class="fragment">Controller übergibt an View</li>
						<li class="fragment">View generiert Antwort</li>
						<li class="fragment">Browser empfängt Antwort</li>
					</ol>
				</section>
				<section>
					<h3>Redirect</h3>
					<div class="two-columns-half-half">
						<ul>
							<li>Indirektion über den Client (Redirect)
								<ul>
									<li class="fragment">res.redirect(...)</li>
									<li class="fragment">Browser erhält die Aufforderung, die Folgeseite zu laden</li>
									<li class="fragment">URL im Browser wechselt!</li>
								</ul>
							</li>
						</ul>
						<img src="./images/model-2-entwurfsmuster_redirect.svg" alt="Redirect" />
					</div>
				</section>
				<section>
					<h3>Forward</h3>
					<div class="two-columns-half-half">
						<ul>
							<li>Serverinterne weitergabe (Forward)
								<ul>
									<li class="fragment">res.render(...)</li>
									<li class="fragment">Server antwortet mit Inhalt auf der Folgeseite</li>
									<li class="fragment">URL im Browser bleibt stehen!</li>
								</ul>
							</li>
						</ul>
						<img src="./images/model-2-entwurfsmuster_forward.svg" alt="Forward" />
					</div>
				</section>
				<section>
					<h3>Express: Middlewares</h3>
					<p>Funktionen die Zugriff auf das request-, response-Objekt und die next Funktion haben:<br />(req,
						res, next) => void</p>
					<p class="fragment">Mit einem Aufruf von "next" wird der nächste in der Kette aufgerufen</p>
					<ul class="fragment">
						<li><a href="https://expressjs.com/en/4x/api.html#app.use">app.use([path,] callback [,
								callback...])</a>
							<ul>
								<li>path: URL-Path (Default: '/'), String</li>
								<li>callback: Middleware, Funktion</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Express: Middlewares Beispiel</h3>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/05-nodejs-express-middlewares/express-middlewares.js" data-line-numbers="|3-11|13-14|16-18|"></code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h3>Praxis - NodeJS - Aufgabe 8</h3>
					<p>Programmiert einen kleinen Rechner
					<ul>
						<li>Formular für zwei Operanden und Rechenoperation</li>
						<li>Werden die Parameter an den NodeJS Server übergeben, soll die durchzuführende Berechnung
							samt Ergebnis ausgegeben werden. Danach folgt wieder das Eingabeformular.</li>
						<li>Nutzt das Model-2-Entwurfsmuster.</li>
						<li>Implementiert das 42-Easter-Egg mit einer Middleware</li>
					</ul>
					</p>
				</section>
			</section>
			<section>
				<section>
					<h3>Cookies</h3>
					<div class="r-stack">
						<img class="fragment current-visible" src="./images/cookie-monster.png">
						<img class="fragment current-visible" src="./images/come-to-the-dark-side-we-have-cookies.png">
						<img class="fragment current-visible" src="./images/tracking-heise.jpg" style="width: 65%">
						<img class="fragment current-visible" src="./images/tracking-nytimes.jpg">
					</div>
				</section>
				<section>
					<h3>Problem + Lösung</h3>
					<p>Problem: HTTP ist ein zustandsloses Protokoll</p>
					<p class="fragment">Bedeutet: Jede Anfrage muss alle Informationen beinhalten um die Antwort
						generieren zu können</p>
					<p class="fragment">?? Wie dann Sessions im Web anbieten ??</p>
					<p class="fragment">Ohne Sessions keine Warenkorb, kein Einloggen,<br />kein "Zuletzt betrachtet"
					</p>
					<p class="fragment">Client muss Info mitschicken, aber Server den Wert vorgeben</p>
					<p class="fragment">!! Cookies !!</p>
				</section>
				<section>
					<h3>Cookies: Ablauf</h3>
					<ol>
						<li>Browser frägt Website an</li>
						<li class="fragment" data-fragment-index="1">Server Antwort mit HTML-Dokument <em>und</em> ein
							Cookie</li>
						<li class="fragment" data-fragment-index="2">Browser frägt nächste Website auf der gleichen
							Domain and <em>und</em> schickt das Cookie
							mit</li>
					</ol>
					<img class="fragment" data-fragment-index="2" src="./images/cookies.jpg" style="width: 50%">
				</section>
				<section>
					<h3>Cookies: Funktionsweise</h3>
					<p>Spezifiziert als <a href="https://datatracker.ietf.org/doc/html/rfc2109">RFC 2109</a>:<br />"HTTP
						State Management Mechanism"</p>
					<p class="fragment" data-fragment-index="1">HTTP-Header: "Set-Cookie" (2)</p>
					<pre class="fragment" data-fragment-index="1"><code data-line-numbers="">HTTP/1.0 200 OK
Content-type: text/html
Set-Cookie: theme=light
Set-Cookie: sessionToken=abc123; Expires=Wed, 09 Jun 2021 10:18:14 GMT
					</code></pre>
					<p class="fragment" data-fragment-index="2">darauf folgende Anfrage (3)</p>
					<pre class="fragment" data-fragment-index="2"><code data-line-numbers="">GET /spec.html HTTP/1.1
Host: www.example.org
Cookie: theme=light; sessionToken=abc123
…
					</code></pre>
				</section>
				<section>
					<h3>Cookies: Anatomy</h3>
					<p>Einfaches Key=Value Paar, z.B.:<br />sessionToken=abc123</p>
					<p class="fragment">Value darf alle druckbare ASCII-Zeichen:<br />"!" bis "~" ohne: "," und ";"</p>
					<p class="fragment">Zusätzliche Attribute:<br />Domain+Path, Expires/Max-Age, Secure und
						HttpOnly<br />werden mit ";"
						hinter den Value gehängt</p>
					<p class="fragment"><em>Nur</em> das Key=Value Paar wird an den Server zurückgeschickt!</p>
				</section>
				<section>
					<h3>Cookies: Attribute</h3>
					<ul>
						<li class="fragment">Domain und Path
							<ul>
								<li>Gibt den Geltungsbereich des Cookies an, z.B.:<br />Domain=sub.example.com;
									Path=/accounts;</li>
							</ul>
						</li>
						<li class="fragment">Expires und Max-Age
							<ul>
								<li>Gibt die Geltungsdauer des Cookies an, z.B.:<br />Expires=Tue, 15 Jan 2042 13:37:00
									GMT;<br />oder: Max-Age: 3600;</li>
								<li>Ohne: Session-Cookie (Client definiert)</li>
							</ul>
						</li>
						<li class="fragment">Secure und HttpOnly
							<ul>
								<li>Secure: nur verschlüsselt Übertragen (HTTPS!)</li>
								<li>HttpOnly: nur via HTTP(S) übertragen</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Node.js - Cookies</h3>
					<p>Setzt einen Cookie in der HTTP-Antwort</p>
					<ul>
						<li><a href="https://expressjs.com/en/4x/api.html#res.cookie">res.cookie(name, value [,
								options])</a>
							<ul>
								<li>name: String</li>
								<li>value: String</li>
								<li>options: Objekt
									<ul>
										<li>domain: String</li>
										<li>expires: Date</li>
										<li>secure: Boolean</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Node.js - Cookies</h3>
					<p>Lese Cookie aus einem HTTP-Request</p>
					<p>Middleware um Header zu parsen und an req-Objekt anzuhängen: <a
							href="https://www.npmjs.com/package/cookie-parser">cookie-parser</a></p>
					<pre class="language-javascript">
		<code class="hljs" data-code="./code-examples/09-nodejs-express-cookies/express-read-cookies.js" data-line-numbers=""></code>
	</pre>
				</section>
				<section>
					<h3>Browser - Cookies</h3>
					<ul>
						<li><a
								href="https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie">document.cookie</a>
							<ul>
								<li>String aller Cookies, ";"-Separiert, z.B.:<br /><span
										class="smaller-font">'enwikimwuser-sessionId=e53e40071b987899a83b;
										enwikiwmE-sessionTickLastTickTime=1654374542173;
										enwikiwmE-sessionTickTickCount=83'</span>
								</li>
								<li class="fragment" data-fragment-index="1">Einzelnen Cookie auslesen: von Hand parsen
									🤮 (Leerzeichen nicht vergessen! 🤮🤮🤮)
								</li>
								<li class="fragment" data-fragment-index="2">Einen Cookie hinzufügen: einfache Zuweisung
									🥳
									<pre class="language-javascript">
						<code class="hljs" data-line-numbers="">document.cookie = "theme=light; Secure;"
document.cookie = "user=Me; Secure;"
document.cookie // theme=light; user=Me
						</code>
					</pre>
								</li>
							</ul>
						</li>
					</ul>
				</section>
			</section>
			<section>
				<h3>Praxis - NodeJS - Aufgabe 9</h3>
				<p>Erweitert den Taschenrechner um ein kleines Login mit Session-spezifischer Historie
				<ul>
					<li>Login-Seite: Formular mit einem Textinput für den Usernamen. In der HTTP-Antwort soll ein Cookie
						mit Session-Id=Username gesetzt werden.</li>
					<li>Berechnungs-Seite: Wenn Client einen Cookie mit Session-Id mitschickt soll eine User-spezifische
						Berechnungs-Historie angezeigt werden.</li>
				</ul>
				</p>
			</section>
			<section>
				<section>
					<h3>WebSockets</h3>
					<p>Living Standard der <a href="https://whatwg.org/">WHATWG</a>: <a
							href="https://websockets.spec.whatwg.org/">WebSockets</a></p>
					<ul>
						<li>Leitideen
							<ul>
								<li class="fragment">Protokoll verschlanken: TCP als Basis</li>
								<li class="fragment">Auch Nachricht von Server an Client</li>
							</ul>
						</li>
						<li class="fragment">Vorgehen
							<ul>
								<li>Client baut Verbindung zum Server auf</li>
								<li>Bidirektionaler Nachrichtenaustausch</li>
								<li>Client oder Server schließt die Verbindung</li>
							</ul>
						</li>
						<li class="fragment">Verbindungsaufbau
							<ul>
								<li>Verbindungsaufbau via HTTP</li>
								<li>Websocket-Protokoll in URL: ws(s)</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>WebSockets Protokoll Overhead</h3>
					<img src="./images/websocket-protocol.jpg" alt="WebSocket Protokoll" style="width: 80%" />
					<p class="fragment">Nur wenige Byte Protokoll Overhead: 2 - 10 Byte</p>
				</section>
				<section>
					<h3>Socket?!?</h3>
					<p>Wie kann man sich einen Socket vorstellen?</p>
					<img class="fragment" src="./images/portals.png" alt="Portals Portals" style="width: 40%" />
					<p class="fragment">Raus: socket.send, Rein: socket.onmessage</p>
				</section>
				<section>
					<h3>WebSockets: Clientside (JS)</h3>
					<p>Native Support in Browsern via <a
							href="https://developer.mozilla.org/en-US/docs/Web/API/WebSocket">"WebSocket"</a></p>
					<pre class="language-javascript">
		<code class="hljs" data-line-numbers="|1-2|4-12|4-6|7-9|10-12|14|">// Neues WebSocket Objekt anlegen
const socket = new WebSocket('ws://localhost:8000/');

socket.onopen = function () {
	// Verbindungsaufbau behandeln
};
socket.onmessage = function(event) {
	console.log(event.data); // Neue Nachricht behandeln
};
socket.onclose = function(event) {
// Verbindungsabbau behandeln
};

socket.send("Hello Server");</code></pre>
				</section>
				<section>
					<h3>WebSockets: Serverside (NodeJS)</h3>
					<p>Packet <a href="https://www.npmjs.com/package/ws">"ws"</a> (<a
							href="https://github.com/websockets/ws/blob/HEAD/doc/ws.md">Api-Docs</a>)</p>
					<pre class="language-javascript">
						<code class="hljs" data-code="./code-examples/07-nodejs-express-ws/express-ws-example.js" data-line-numbers="|1-2|4|5-8|10|11-15|"></code>
					</pre>
				</section>
			</section>
			<section>
				<h3>Praxis - NodeJS - Aufgabe 10</h3>
				<p>Programmiert einen Eilmeldungs-Verteiler
				<ul>
					<li>Redaktions-Seite: Formular mit einem Textinput, welches die Nachricht an den Server schickt</li>
					<li>Eilmeldungs-Seite: Empfängt neue Eilmeldungen via WebSocket und zeigt sie an</li>
					<li>Server sammelt alle Client-Sockets und schickt ihnen die Nachrichten der Redaktions-Seite</li>
				</ul>
				</p>
			</section>
			<section>
				<section>
					<h3>NodeJS - Lösung - Aufgabe 10</h3>
					<a
						href="https://gitlab.com/chr1shaefn3r-dhbw/vorlesung-webeng1/-/blob/master/added_2021/nodejs/code-examples/07-nodejs-express-ws/express-ws-eilmeldung.js">Lösung</a>
				</section>
			</section>
			<section>
				<section>
					<h3>Node.js - Persistenz</h3>
					<p>Daten länger Speichern als der Server läuft</p>
					<ol class="fragment">
						<li>Template</li>
						<li>Request</li>
						<li>Session</li>
						<li>Server</li>
						<li class="fragment">Persistent
							<ul>
								<li>Leben so lange der Speicher lebt (Platte, DB)</li>
								<li>Speicherort must erstmal nicht auf dem gleichen Server sein</li>
							</ul>
						</li>
					</ol>
				</section>
				<section>
					<h3>Node.js - JSON</h3>
					<p>JSON-Dateien können require'd werden</p>
					<h4 class="fragment" data-fragment-index="1">Beispiel JSON-Datei</h4>
					<pre class="language-json fragment" data-fragment-index="1">
						<code class="hljs" data-code="./code-examples/08-nodejs-json/persistent.json" data-line-numbers=""></code>
					</pre>
					<h4 class="fragment" data-fragment-index="2">require JSON-Datei</h4>
					<pre class="language-javascript fragment" data-fragment-index="2">
						<code class="hljs" data-code="./code-examples/08-nodejs-json/load-json.js" data-line-numbers=""></code>
					</pre>
				</section>
				<section>
					<h3>Node.js - JSON</h3>
					<ul>
						<li>Vorteile
							<ul>
								<li>Nativer JSON-Support in JavaScript</li>
								<li class="fragment">Persistenter Dateispeicher</li>
								<li class="fragment">Dateien lassen sich einfach Versionieren, Sichern und Editieren</li>
							</ul>
						</li>
						<li class="fragment">Nachteile
							<ul>
								<li class="fragment">Read-Only</li>
								<li class="fragment">Konfigurationsdatei muss neben dem Code verfügbar sein</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Node.js - Dateisystem</h3>
					<p>Node.js-Prozess hat Zugriff auf das Dateisystem als der User der ihn startet</p>
					<p class="fragment">Sicherheitsvorkehrung: Server niemals(!!) als Root/Administrator starten</p>
					<p class="fragment">Dateisystem-API: <a href="https://nodejs.org/dist/latest-v16.x/docs/api/fs.html">fs</a></p>
					<p class="fragment">Mehrere Geschmacksrichtungen:<br /><a
							href="https://nodejs.org/dist/latest-v16.x/docs/api/fs.html#callback-api">Callback-API</a>,
						<a href="https://nodejs.org/dist/latest-v16.x/docs/api/fs.html#promises-api">Promise-API</a> und
						<a
							href="https://nodejs.org/dist/latest-v16.x/docs/api/fs.html#synchronous-api">Synchrone-API</a>
					</p>
				</section>
				<section>
					<h3>Node.js - Dateizugriff</h3>
					<p>Lesen (readFile) und Schreiben (writeFile)</p>
					<ul>
						<li class="fragment"><a
								href="https://nodejs.org/dist/latest-v16.x/docs/api/fs.html#fsreadfilepath-options-callback">fs.readFile(path[,
								options], callback)</a>
							<ul>
								<li>path: Dateiname, String</li>
								<li>options: Objekt
									<ul>
										<li>encoding: String (Empfehlung: 'utf8')</li>
									</ul>
								</li>
								<li>callback: (err, data), Funktion</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Node.js - Dateizugriff</h3>
					<p>Lesen (readFile) und Schreiben (writeFile)</p>
					<ul>
						<li><a
								href="https://nodejs.org/dist/latest-v16.x/docs/api/fs.html#fswritefilefile-data-options-callback">fs.writeFile(file,
								data[, options], callback)</a>
							<ul>
								<li>file: Dateiname, String</li>
								<li>data: Neuer Dateiinhalt, String</li>
								<li>options: Objekt
									<ul>
										<li>encoding: String (Default: 'utf8')</li>
									</ul>
								</li>
								<li>callback: (err, data), Funktion</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Node.js - Database</h3>
					<p>Ökosystem bietet für (fast) alle Datenbanken<br />eine Bibliothek:</p>
					<ul>
						<li class="fragment" data-fragment-index="1"><a href="https://www.npmjs.com/package/mysql">MySql</a></li>
						<li class="fragment" data-fragment-index="1"><a href="https://www.npmjs.com/package/sqlite3">SQLite</a></li>
						<li class="fragment li-space-above" data-fragment-index="2"><a href="https://www.npmjs.com/package/knex">Generisch SQL: Knex</a>
						</li>
					</ul>
				</section>
			</section>
			<section>
				<h3>Praxis - NodeJS - Aufgabe 11</h3>
				<p>Erweitert das Taschenrechner-Projekt, um eine JSON-basierte Konfiguration:
				<ul>
					<li>Port: Auf welchem Port der Server horcht</li>
					<li>Historienlänge: Wie viele Einträge die Historie speichert</li>
				</ul>
				</p>
				<h4>Zusatz</h4>
				<p>Persistiert die Historie in einer Datei</p>
			</section>
		</div>
	</div>

	<script src="dist/reveal.js"></script>
	<script src="plugin/notes/notes.js"></script>
	<script src="plugin/markdown/markdown.js"></script>
	<script src="plugin/highlight/highlight.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="plugin/externalcode/externalcode.js"></script>
	<script>
		// More info about initialization & config:
		// - https://revealjs.com/initialization/
		// - https://revealjs.com/config/
		Reveal.initialize({
			slideNumber: "c/t",
			hash: true,
			pdfSeparateFragments: false,
			// No Vertical centering of slides
			center: false,

			// Learn about plugins: https://revealjs.com/plugins/
			plugins: [Externalcode, RevealMarkdown, RevealHighlight, RevealNotes]
		});
		Reveal.addEventListener('ready', function () {
			var header = $('#hidden').html();
			$('.slide-background').append(header);
		});
	</script>
	<div id="hidden" style="display:none;">
		<header>
			<img height="40" src="dhbw-logo-small.svg" alt="DHBW-Logo" />
		</header>
	</div>
</body>

</html>